<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment panal Vue</title>
    <link rel="stylesheet" href="css/typingtestvue.css">
    <script src="js/vue.js"></script>
    <script src="js/fastfingertop200.js"></script>
</head>

<body>
    <div id="word-list-area" class="">
        <div class="flex-box">
            <div v-for="(word,key) in wordListFromJs" v-bind:id="'w'+key" class="word-style" >
                {{word}}
            </div>
        </div>
        <div class="float-display">{{userInput}}</div>
        <input id="user" type="text" v-on:keyup="compareWord" v-model="userInput">
        <div>Good:{{corrctWord}} Bad:{{wrongWord}} </div>
    </div>
    <div id="timer">{{min}}:{{sec}}.{{msec}}</div>
    <div id="type-recode">
        
    </div>



</body>
<script>
    document.addEventListener('DOMContentLoaded',(event)=>{
        document.getElementById("user").focus();
    })

    var VwordList = new Vue({
        el: '#word-list-area',
        data: {
            wordListFromJs: wordList[0],
            corrctWord: 0,
            wrongWord: 0,
            wordPointer: 1,
            userInput:"",
            isMatch:false
        },
        methods: {
            compareWord: isMatchWord
        }

    })

    var Vtimer =new Vue({
        el:"#timer",
        data:{
            jsTimer:null,
            min:0,
            sec:0,
            msec:0
        },
        methods:{
            start() {
                if (this.jsTimer == null) {
                    this.jsTimer = setInterval(addInMsec,10);
                }
            }
        }
    })

    function addInMsec() {
        Vtimer.msec++
        if (Vtimer.msec >=10) {
            Vtimer.sec++;
            Vtimer.msec = 0;
        }
        if (Vtimer.sec >= 60) {
            Vtimer.min++;
            Vtimer.sec = 0;
            document.getElementById("type-recode").textContent += Vtimer.min + "Mark Corrct:" +VwordList.corrctWord + ",Wrong:" + VwordList.wrongWord;
            clearInterval(Vtimer.jsTimer);
            document.querySelector("body").classList.add("window-flash");
            // document.querySelector("body").classList.remove("window-flash");
            Vtimer.jsTimer = null;
        }

    }
    function isMatchWord(even) {
        Vtimer.start();
        // console.log(even);
        if (even.keyCode == 32) {
            if(this.isMatch)
                this.corrctWord++;
            else
                this.wrongWord++;

            this.$el.querySelector("#w" + VwordList.wordPointer).remove();
            this.wordPointer++;
            this.userInput = "";
        }
        if (VwordList.wordListFromJs[VwordList.wordPointer] == this.userInput) {
            this.$el.querySelector("#w" + VwordList.wordPointer).classList.add("match-word")
            this.isMatch = true;
        } else{
            this.$el.querySelector("#w" + VwordList.wordPointer).classList.remove("match-word")
            this.isMatch = false;
        }
    }


    //Function Area
    function addObject(target, object) {
        target.push(object);
        // [{a:1}]  push{b:2}-> [{a:1},{b:2}];
    }

    function addElement(target, object) {
        for (const key in object) {
            if (object.hasOwnProperty(key)) {
                // [{a:1}]    set{b:2}-> [{a:1,b:2}];
                Vue.set(target, key, object[key]);
            }
        }
    }

</script>

</html>